<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gxuwz.lab.mapper.LabsMapper">

    <resultMap type="Labs" id="LabsResult">
        <id property="id" column="id"/>
        <result property="labName" column="lab_name"/>
        <result property="labType" column="lab_type"/>
		<result property="labId" column="lab_id"/>
    </resultMap>


	<select id="getList" parameterType="Labs" resultMap="LabsResult">
		select * from labs
	</select>

    <insert id="save" parameterType="Labs" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO labs(lab_name,lab_type,lab_id) VALUES (#{labName}, #{labType}, #{labId})
	</insert>


    <delete id="deleteLabsById">
		DELETE FROM labs WHERE id = #{id}
	</delete>


    <update id="updateById" parameterType="Labs">
		UPDATE labs set lab_name=#{labName}, lab_type=#{labType}, lab_id=#{labId} WHERE id=#{id}
	</update>


</mapper>